@model TabloidMVC.Models.ViewModels.CommentViewModel

@{
    ViewData["Title"] = "GetCommentsByPostId";
}
    <div class="container pt-5">

        <h1>Check out all your comments</h1>

        <p>
            <a asp-action="Create" asp-route-PostId="@Model.Post.Id">Create New Comment</a>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Content</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Comments)
                {
                    <tr>
                        <td>@item.Subject</td>
                        <td>@item.Content</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
